@page
@model GrimmWebApp.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About this Web App</h1>
</div>
<div class="text-center">

    <p>
        This Web Application is intended as a demonstration of razor pages.
        <br>It relies on a locally hosted server and open source program which is avalable on <a href="https://github.com/xxsedix"> GitHub</a>.
    </p>
</div>
