@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Employee Management Web App</h1>
    <p>This Web app takes in employee information and stores it in a local database.</p>
    <p>The information can then be reviewed and modified.</p>
</div>
