@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>There is not privacy on this web page, please do not use real information of any kind.</p>
<p>The creator hereby known as Grimm shall not be heald liable for any loss of sensitive personal information.</p>
